#부모{
    height: 200px;
    background-color: palegreen;
    text-align: center; 
}

#자식{
    display: inline-block;
    background-color: red;
    width: 200px;
    height: 200px;           
}

@media screen and (max-width: 600px) {
    #부모{
        text-align: center;
        height: 420px;
        background-color: black;
    }
     }

    @media screen and (max-width: 600px) {
        #자식{
            display: inline-block;
            margin-bottom: 4%;
            width: 90%;
        }
    }